/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
    background-color: #E5E5E5;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
    text-align: center;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login input {
    width: 379px;
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    outline: none;
}

.login-email, .login-mdp {
	display: flex;
	flex-direction: column;
}

.login-email label, .login-mdp label {
    margin-bottom: 6px;
}

.login-email label {
    margin-top: 37px;
}

.login-mdp label {
    margin-top: 30px;
}

#connecter {
    width: 179px;
	height: 36px;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 17px;
    color: #FFF;
	background-color: #1D6154;
    text-align: center;
    margin: 37px 0 28px 0;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 100px;
}

footer {
    height: 60px;
    text-align: end;
}

footer p {
    position: relative;
    top: 30px;
    right: 150px;
}

.js-errorChampsObligatoire {
	width: 100%;
	color: crimson;

	position: relative;
	bottom: 108px;
}

.js-errorChampsObligatoire i {
	margin-right: 7px;
	font-size: 15px;
}

.js-errorIncorrecte {
	width: 100%;
	border: 1px solid rgb(126, 119, 119);
	border-radius: 15px;
	padding: 15px 15px 15px 70px;
	margin-bottom: 10px;
	font-size: 1.4em;
	position: relative;
}

.js-errorIncorrecte span {
	font-size: 0.7em;
	color: rgb(126, 119, 119);
}

.js-errorIncorrecte i {
	color: rgba(197, 4, 4, 0.669);
	font-size: 40px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.js-errorForm {	
	color: crimson;
}

#login input.js-errorForm {
	border: 2px solid crimson;
}

.forget-password {
	position: absolute;
	top: 1000px;
	text-decoration: underline;
}